/* 
 * MAA website banner CSS
 * @author Rolando Henry, New Media Specialist
 *
 */
#maa-banner {
	height: 185px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	width: 980px;
}

#banner-fallback {
	background: url(images/banner-fallback.jpg) no-repeat left top;
	height: 385px;
}

#maa-banner * {
	margin: 0;
	padding: 0;
}

#maa-banner .banner-backgrounds {
	height: 185px;
}

#maa-banner .bg {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
}
#maa-banner .bg:first-child {
	display: inline;
}

#maa-banner .banner-expand {
	background: #226da7 url(images/expand-arrow.png) no-repeat 95% -20px;
	color: #fff;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	height: 24px;
	line-height: 2.5;
	padding: 0 25px 0 5px;
	position: absolute;
	right: 33px;
	text-decoration: none;
	text-transform: uppercase;
	top: 162px;
	width: 80px;
	z-index: 60;
}

#maa-banner .open {
	background-position: 95% 5px;
}

#maa-banner .banner-overlay {
	background: url(images/banner-overlay.png) no-repeat left top;
	height: 385px;
	position: relative;
	top: -185px;
	z-index: 50;
}

#maa-banner .text {
	color: #fff;
	font-family: "Myriad Pro", Arial, sans-serif;
	font-size: 42px;
	left: 30px;
	line-height: 1;
	position: absolute;
	top: 65px;
	width: 100px;
}

#maa-banner .banner-bottom {
	background: url(images/bottom-overlay.png) repeat left top;
	background: rgba(0,0,0,0.7);
	height: 200px;
	position: absolute;
	top: 185px;
	width: 100%;
	z-index: 70;
}

#maa-banner .banner-links {
	color: #fff;
	font: 13px/1 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 300;
	list-style: none;
	margin: 0 0 0 140px;
	overflow: hidden;
}

#maa-banner .banner-links li {
	float: left;
	margin-right: 25px;
}

#maa-banner .banner-links .imoe-info {
	font-size: 16px;
	padding: 20px 50px 0 0;
	width: 549px;
}
#maa-banner .banner-links .imoe-info p {
	margin-bottom: 10px;
}

#maa-banner .banner-links a {
	color: #c6daf9;
}
#maa-banner .banner-links a:hover {
	color: #993300;
}

#maa-banner .banner-links .thumb {
	background-position: left 20px;
	background-repeat: no-repeat;
	color: #fff;
	display: block;
	height: 50px;
	padding: 155px 0 0 0;
	text-decoration: none;
	width: 183px;
	-webkit-transition: background 0.6s ease-out;
	-moz-transition: background 0.6s ease-out;
	transition: background 0.6s ease-out;
}

#maa-banner .banner-links .thumb:hover {
	background-color: #4d4f53;
	color: #fff;
}

#maa-banner .banner-links .arrows {
	background: url(images/expand-arrow.png) no-repeat 167px -52px;
	display: block;
	padding: 0 3px;
	width: 100%;
}

#maa-banner .banner-links .link1 {
	background-image: url(images/banner-link1.jpg);
}
#maa-banner .banner-links .link2 {
	background-image: url(images/banner-link2.jpg);
}
#maa-banner .banner-links .link3 {
	background-image: url(images/banner-link3.jpg);
}
#maa-banner .banner-links .link4 {
	background-image: url(images/banner-link4.jpg);
}
#maa-banner .banner-links .imoe-link {
	background-image: url(images/imoe-link.jpg);
}

#maa-banner .banner-controls {
	font: 10px/2.5 Verdana, Arial, sans-serif;
	position: absolute;
	left: 5px;
	top: 162px;
	width: 200px;
	text-transform: uppercase;
	z-index: 100;
}

#maa-banner .banner-controls a {
	background: #226da7;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

#maa-banner .banner-controls a.active,
#maa-banner .banner-controls a:hover,
#maa-banner .banner-expand:hover {
	background-color: #999;
	background-color: rgba(156,156,156,0.8);
}

#maa-banner .banner-controls div {
	float: left;
}

#maa-banner .banner-controls li {
	float: left;
	list-style: none;
	margin-right: 4px;
}


#cn-tower {
	background: #000;
}

.imoe-title {
	font-size: 18px;
	text-transform: uppercase;
}
.imoe-line {
	border-top: 3px solid;
}
.hide {
	display: none;
}
